@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Source+Code+Pro:ital@1&display=swap');



.name{
   
    color: #64ffda;
}
*{
    background-color: rgb(10, 25, 47);
}

.full_name{
    color: #ccd6f6;
    
}

.big-heading{
    font-size: 55px;
    color: #8892b0;
}

p{ /*center text*/
    text-align: center;
    
    color:rgb(#8892b0)
    
}

title{ /*center title and h1*/
    text-align: center;

}

h1{ 

    text-align: center;
    font-family: 'Bitter family';

}


*{
    font-family: 'Bitter family';

}

 body{
    background-color: rgb(10, 25, 47);
    
 }   
 
 .numbered-heading{
    color: #64ffda;
     
 }

 .heading-info{
    font-size: 20px;
    color: #8892b0;
 }

 

  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 4%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

/* Style the icon bar links */
.icon-bar a {
  display: outside;
  text-align: left;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  
}

/* Style the social media icons with color*/
.icon-bar a:hover {
  color: #64ffda;
  ;
}

.google {

  color: #64ffda;

}

.linkedin {
  
  color: #64ffda;

}


.github{
  
  color: #64ffda;

}

.codepen{
  
  color: #64ffda;


}

.btn-group button {
  background-color: rgb(10, 25, 47); 
  border: 1px solid #64ffda; 
  color: #8892b0; 
  padding: 10px 24px; 
  cursor: pointer;
  width: 10%; 
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}


.btn-group button:hover {
  background-color: #bcebf3;
}

.CPR{
  color: #64ffda;
  font-size: 20px;
  /* border: 5px  rgb(58, 52, 57); */

}

.ADR{
  color: #64ffda;
  font-size: 20px;
  /* border: 5px  rgb(58, 52, 57); */

}

.ICE{
  color: #64ffda;
  font-size: 20px;
  /* border: 5px  rgb(58, 52, 57); */

}

.container {
  position: absolute;
  width: 50%;
  left: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 30%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-style: double;
  border-width: 10px;
  border-color: #64ffda;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
 
}

.container:hover .middle {
  opacity: 1;

}



   


      
      
 
  