@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Source+Code+Pro:ital@1&display=swap');



.name{
   
    color: #64ffda;
}
*{
    background-color: rgb(10, 25, 47);
}

.full_name{
    color: #ccd6f6;
    
}

.big-heading{
    font-size: 55px;
    color: #8892b0;
}

p{ /*center text*/
    text-align: center;
    color:rgb(#8892b0)
    
}

title{ /*center title and h1*/
    text-align: center;

}

h1{ 

    text-align: center;
    font-family: 'Bitter family';

}



img{
    border: 5px solid rgb(58, 52, 57);
    /*border-radius: 50%;*/
}

*{
    font-family: 'Bitter family';

}

 body{
    background-color: rgb(10, 25, 47);
    
 }   
 
 .numbered-heading{
    color: #64ffda;
     
 }

 .heading-info{
    font-size: 20px;
    color: #8892b0;
 }

 /* .night-vision-effect { 
    
    img src="image/linkedin.jpg" alt="personal photo" 

  line-width: 5px;
  
    background-image:
     
      radial-gradient(
        #0F0,
        #000
      ),
      repeating-linear-gradient(
        transparent 0,
        rgba(0,0,0,0.1) line-width/2,
        transparent line-width
      );
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }
  
  [class$=-effect] img {
    vertical-align: top !important;
    margin: 0 !important;
    opacity: 0 !important;
  }
  /* CodePen Styles */
/* body {
    display: flex;
    height: 100vh;
  }
  div {
    margin: auto;
  /* }   */ */ */

  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: outside;
  text-align: left;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color*/
.icon-bar a:hover {
  color: #64ffda;
  ;
}

.google {

  color: #64ffda;

}

.linkedin {
  
  color: #64ffda;

}


.github{
  
  color: #64ffda;

}

.codepen{
  
  color: #64ffda;


}

.btn-group button {
  background-color: rgb(10, 25, 47); 
  border: 1px solid #64ffda; 
  color: #8892b0; 
  padding: 10px 24px; 
  cursor: pointer;
  width: 10%; 
  display: block; 
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}


.btn-group button:hover {
  background-color: #bcebf3;
}

.CPR{
  color: #64ffda;
  font-size: 20px;
  /* border: 5px  rgb(58, 52, 57); */

}

.ADR{
  color: #64ffda;
  font-size: 20px;
  /* border: 5px  rgb(58, 52, 57); */

}

.ICE{
  color: #64ffda;
  font-size: 20px;
  /* border: 5px  rgb(58, 52, 57); */

}


   


      
      
 
  